
/*............Education...............*/


.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    animation: appearAbout 2s linear;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}



.educationHeading{
    font-size: 32px;
    font-weight: 800; 
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px auto;
    position: relative;
}

.educationHeading span{
    color: var(--main-color);
}


.educationHeading::before{
    content: '';
    height: 3px;
    background-color: white;
    width: 30%;
    position: absolute;
    bottom: -5px; /* Adjusted to give some space below the text */
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.5s ease;
}


.educationHeading:hover::before{
    width: 100%;
}

.timeline{
    list-style-type: none;
    padding: 20px;
    width: 60%;
   position: relative;
   
}

.timeline li{
    margin-bottom: 30px;
    position: relative;
    display: flex;
}

.timeline .panel{
     width: 46%;
     padding:5px;
     border-radius: 5px;
     overflow: hidden;
     background: var(--main-color);
     box-shadow: 0 0 10px var(--text-color);   
}


.timeline .panel2{
    width: 46%;
    padding:5px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--main-color);
    box-shadow: 0 0 10px var(--text-color);   
}


.timeline p{
    padding: 0 20px;
     
}


.timeline summary{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.6s linear;
    font-size: 18px;
    color: var(--second-bg-color);
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 20px;
    padding: auto 20px;
}

.timeline summary:active{
    scale: 0.8;
    transition: scale 0.5s ease;
}


.timeline .panel[open] summary{
    border-bottom: 2px solid var(--text-color);
    transition: all 0.6s linear;
}


.timeline::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    background-color: #a3caee;
    box-shadow: 1px 1px 5px #aacef1,
        -1px -1px 5px #0dfdfd;

}


.timeline li::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #cfcfcf;
    box-shadow: 1px 1px 5px #dee1e4,
        -1px -1px 5px #797676;

}


.timeline li:nth-child(even){
    justify-content: flex-end;
}


.educationInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--second-bg-color);
    padding: 20px;
}

.educationInfo span{
    font-size: 18px;
    
}
@media screen and (max-width:900px) {
    .timeline{
        width: 100%;       
    }

    .timeline summary{
        font-size: 16px;
        letter-spacing: 0;
    }

}


@media screen and (max-width: 768px) {
    .timeline{
        width: 100%;       
    }
}


